@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
  font-family: 'Inter', sans-serif;
}

button {
  transition: transform 0.15s ease;
}

button:active {
  transform: scale(0.9);
}
